.navBarColor{
    background-color:#2d2a26cc;
    padding: 20px;
    width: 100%;
    position: fixed;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin:0 auto;
    text-align: center;
}
.navBarLink{
    /* color:white; */
    margin:0 auto;
}

@media (max-width:800px){
    .navBarColor{
        background-color:#2d2a26cc;
        /* margin-bottom: 0px;
        position: sticky; */
    }
}

@media (max-width:400px){
    .navBarColor{
        background-color:#2d2a26cc;
        padding: 5px;
        /* margin-bottom: 0px;
        position: sticky; */
    }
}