.navBarColor{
    background-color:#2d2a26cc;
    color:whitesmoke;
    width: 100%;
    height: 100px;
    position: fixed;
}
.navBarLink{
    color:white;
}

@media (max-width:600px){
    .navBarColor{
        height: 60px;
    }
}