.navBarColor{
    background-color:#2d2a26cc;
    color:whitesmoke;
    width: 100%;
    height: 90px;
    position: fixed;
}
.navBarLink{
    color:white;
}

@media (max-width:800px){
    .navBarColor{
        height: 70px;
    }
}

@media (max-width:400px){
    .navBarColor{
        margin-bottom: 0px;
        height: 55px;
        position: sticky;
    }
}