
.mainFooter {
    color: #ffffff;
    background-color:#212529;
    padding-top: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: 0px;
  }
.footerLinks{
    color:white;
    text-decoration: none;
    margin-bottom: 2rem;
}
.mainFooter a{
    margin-bottom: 2rem;
}
.mainFooter a:hover {
    color:gray;
}
.row{
   text-align: left;
   margin: 1rem;

}
.payments{
    margin-top: 1rem;
    
    display: inline-block
}
/* .paymentIcon{
    border-radius: 4px;
  margin:0 auto;
} */


.brandName{
    text-align: center;
}