@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navBarColor{
    background-color:#bc4749;
    /* padding: 30px; */
    /* margin:0 auto; */
    width: 100%;
    /* position: fixed; */
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.navBarLink{
    color:black;
    margin-right: 1rem;
    text-decoration:none;
    padding:0;
    letter-spacing: normal;
}
.navBarLink:hover{
    color:gray;
}
