@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navBarColor{
    background-color:#2d2a26cc;
    padding: 35px;
    width: 100%;
    position: fixed;
    margin:0 auto;
    color:white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 6px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.navBarLink{
    color:white;
    margin-right: 1rem;
    text-decoration:none;
    padding:0;
}

@media (max-width:800px){
    .navBarColor{
        background-color:#2d2a26cc;
        padding:8px;
    }
}

@media (max-width:360px){
    .navBarColor{
        background-color:#2d2a26cc;
        padding: 5px;
        margin-bottom: 0px;
        position: sticky;
    }
}