@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navBarColor{
    background-color: whitesmoke;
    margin:0 auto;
    width: 100%;
    /* position: fixed; */
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    text-transform: uppercase;
}
.navBarLink{
    color:black;
    text-align: center;
    margin-left: 2rem;
    text-decoration:none;
    padding:0.5rem;
    letter-spacing: normal;
}
.navBarLink:hover{
    color:gray;
}
