.container{
    margin-top: 50px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.CarouselItem{
    background-color: aqua;
    padding-bottom: 0px;
    margin-bottom: -8.5px;
}

@media (max-width:800px){
    .container{
        margin-top: 70px;
    }
}
