

.banner{ 
    background-color:#2d2a26cc;
    padding:50px ;
    width: 100%;
    margin-top: 155px;
    position: absolute;
    z-index: 100;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.title{
    color: whitesmoke;
    font-size: xx-large;
    font-weight: normal;
    word-spacing: 12px;
    margin-bottom: 0px;
}

@media (max-width:600px){
    .banner{
        padding:10px;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
    .title{
        font-size: large;
    }
   
}
@media (max-width:400px){
    .banner{
        padding:10px;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
   
}