.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.Header{
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 100%;
    color: #a18ac4;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size:x-large;
}
.categoriesImg{
    border-radius: 10px;
}

.Card{
    margin:auto;
    margin-bottom: 1rem;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.527);
}
/* .Card:hover{
    transform: scale(1.1); 
} */
.divider{
    color:#f5be8a;
    padding: .1rem;
    margin: 0 auto;
}

.cardTitle{
    text-align: center;
    padding: .5rem;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.589);
    font-size: larger;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}
.CardText{
    width: 100%;
    padding: .5rem;
    color: rgba(0, 0, 0, 0.589);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-size:small;
    display: flex;
    align-items: center;
    text-align: center;
}
.CardText:hover{
    color:gray;
}
@media (max-width:800px){
    .container{
        flex-direction: column;
        padding: 1rem;
        margin-top: 0px;
    }
    /* .Card{
        width: 100%;
        padding-top:.2rem;
        
    } */
    
    
}