.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1rem;
    font-family: 'Quicksand', sans-serif;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #a18ac4;
    text-decoration: none;
    font-size: x-large;
}

.categoriesImg {
    border-radius: 10px;
}

.Card {
    width: 300px;
    height: 170px;
    margin: auto;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid rgba(128, 128, 128, 0.527);
}

/* .Card:hover{
    transform: scale(1.1); 
} */
.divider {
    color: #f5be8a;
    padding: .1rem;
    margin: 0 auto;
}

.cardTitle {
    text-align: center;
    padding: .4rem;
    margin-bottom: 0px;
    color: rgba(0, 0, 0, 0.589);
    font-size: larger;
    font-weight: bolder;
}

.CardText {
    display: flex;
    margin: auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    padding: .2rem;
    color: rgba(0, 0, 0, 0.589);
    text-decoration: none;
    font-size: small;
    font-weight: bold;

}

.CardText:hover {
    color: #a18ac4;
    background-color: #f5be8a18;
}

.CardText:hover {
    color: gray;
}

@media (max-width:800px) {
    .container {
        flex-direction: column;
        padding: 1rem;
        margin-top: 0px;
    }

    .Card {
        height: 160px;
        padding: .5rem;
    }

    .CardText {
        font-size: smaller;
    }



}