
.container{
    display:flex;
    flex-direction:row;
    margin-top: 0;
    padding-top:2rem;
}
.aboutMeTitle{
padding-top: .5rem;
 font-weight:normal;
}

.aboutMeText{
    padding: 1rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size:medium;
    text-transform: lowercase;
}

@media (max-width:800px){
    .container{
        flex-direction:column;
        padding:0px;
        margin: 0;
    }
    .aboutMeText{
        /* margin-top:1rem; */
        padding:1rem;
    }
    .aboutMeImg{
        width: 100%;
        padding:0;
        margin: 0;
    }
}