
.container{
    display:flex;
    padding-top:2rem;
}
.aboutMeTitle{
    font-family: 'Roboto', sans-serif;
    padding-top: .5rem;
    font-weight:normal;
    color: #a18ac4;
}

.ImgWrapper{
  width: 100%;
  object-fit: contain;
  align-self: flex-start;
  border-radius: 20px;
  overflow: hidden;
  margin: .5rem ;
}

.aboutMeText{
    flex: 1 1 auto;
    padding: .5rem;
    text-align: center;
    font-family:'CentaurMT';
    font-size:medium;
}

@media (max-width:1200px){
    .container{
        flex-direction:column;
        padding:0px;
        margin: 0;
    }
    .aboutMeText{
        padding:1rem;
    }
    .ImgWrapper{
        width: 90%;
        align-self: center;
        border-radius: 20px;
    }
}