
.mainFooter {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    background-color:#2D2A26;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom:0px;
    /* position:fixed; */
    bottom: 0;
  }
.footerLinks{
    color:white;
    text-decoration: none;
    margin-bottom: 2rem;
}
.mainFooter a{
    margin-bottom: 2rem;
}
.mainFooter a:hover {
    color:gray;
}
.row{
   text-align: left;
   margin: 1rem;

}
.payments{
    margin-top: 1rem;
    display: inline-block
}



.brandName{
    text-align: center;
    padding-top: 0px;
    margin: 0px;
}