
.container{
    font-family:'CentaurMT';
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 4rem;
}
.categoriesStripe{
    display: flex;
    padding:.5rem;
    clip-path: polygon(0% 0%, 100% 0%, 85% 50%, 100% 100%, 0% 100%);
    background-color: #ffb4b4;
    color: white;
    font-weight: 400;
    justify-items:center ;
}
.categoriesTitle{
    margin: auto;
    margin-top: 4rem;
    flex-shrink: inherit;
}


.title{
    align-items:baseline;
    justify-content:baseline;
    align-self: baseline;
}
.treatmentText{
    padding: 2rem;
    padding-top: 2rem;
    font-size: 20px;
    justify-content: space-evenly;
}

.buttonContainer{
    text-align: right;
    margin-right: 4rem ;
}
.button{
    font-family: 'Roboto', sans-serif;
    background-color:#ffb4b4;
    color: white;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 13px 50px 13px;
    outline: none;
    border: none;
}

.a{
    text-decoration: none;
}


@media (max-width:900px){
    .container{
        flex-direction: column;
        padding: 1rem;
    }
    .treatmentText{
        padding: 1rem;
        margin: 0;
    }
}
@media (max-width:800px){
.title{
    text-align: left;
}
.treatmentText{
    font-size: 14px;
}
}
@media (min-width:600px){
    .categoriesStripe{
        width:25%;
        padding: 1rem;
    }
    
}
@media (min-width:400px){
    .categoriesStripe{
        width:35%;
        padding: 1rem;
    }
    
}
@media (min-width:300px){
    .categoriesStripe{
        width:40%;
        padding: 1rem;
    }
    
}
