@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.container{
  font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    /* padding: 2rem; */
}
.treatmentText{
    padding: 5rem;
    padding-top: 6rem;
    text-transform: uppercase;
    font-size: smaller;
}
.title{
    text-align: center;
    margin-bottom: 2rem;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.699);
}
.button{
    /* background-color:pink;
    color:black;
    text-transform: uppercase;
    outline: none;
    border:none;
    padding: 10px; */
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.747);
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    
}
/* .button:hover{
    background-color:pink;
} */
.button::after {
    content: "";
    background-color: pink;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
.a{
    text-decoration: none;
}


@media (max-width:900px){
    .container{
        flex-direction: column;
    }
    .treatmentText{
        padding: 2rem;
    }
}
@media (max-width:800px){
.title{
    text-align: left;
}
.treatmentText{
    font-size: 14px;
}
}