
.container{
    font-family:'CentaurMT';
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    background-image: url('../Assets/bg1.jpg');;
}
.treatmentText{
    padding: 2rem;
    padding-top: 2rem;
    font-size: medium;
}
.title{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: normal;
    letter-spacing: 5px;
    color: rgba(0, 0, 0, 0.699);
}
.button{
    background-color:#ffb4b4;
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.747);
    cursor: pointer;
    position: relative;
    
}
.button::after {
    content: "";
    background-color:#fFdedf;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
  }
.a{
    text-decoration: none;
}


@media (max-width:900px){
    .container{
        flex-direction: column;
    }
    .treatmentText{
        padding: 2rem;
    }
}
@media (max-width:800px){
.title{
    text-align: left;
}
.treatmentText{
    font-size: 14px;
}
}