.container{
    position: relative;
}


.banner{ 
    background-color:#2d2a26cc;
    padding:40px ;
    width: 100%;
    /* margin-top: 155px; */
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    
}
.title{
    color: white;
    font-size: xx-large;
    font-weight: normal;
    word-spacing: 10px;
}

@media (max-width:600px){
    .banner{
        padding:10px;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
   
}
@media (max-width:400px){
    .banner{
        padding:10px;
        position: absolute;
        z-index: 100;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);   
    }
   
}