/* .container{
display: flex;
flex-direction: row;
} */
.categoriesTitle{
    text-align: center;
}
.mainInfoSection {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color:black;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;

  }

.infoSectionLink a{
    
    text-decoration: none;
}
.a{
    text-decoration: none;
}

.infoSectionLink:hover{
    color: rgb(80, 80, 80);
}
.col{
    margin:1rem;
    text-decoration: none;
}